In [1]:
import os
import pandas as pd

In [2]:
"""
pulls data from Data directories, turns the selected csv into a Pandas dataframe, and removes columns with NaNs (if present)

parameters:
    year -- year of data being pulled
    division -- division whose data is being pulled
    stat -- determines which of the three sheets in the directory will be pulled (0 = champion, 1 = player, 2 = team)
"""

#TODO: account for inconsistencies in division names

def get_dat(year, division, stat): 
    if len(os.listdir("./Data/" + str(year) + "/" + division)) == 0:
        return pd.DataFrame()
    
    year_form = str(year) + "/"
    div_form = division + "/"
    
    if(division == "MSI" and (int(year) >= 2017 and int(year) < 2021)):
        msi_div = "main-event/"
        res_df = pd.read_csv("./Data/" + year_form + div_form + msi_div + os.listdir("./Data/" + year_form + div_form + msi_div)[stat])
    else:
        res_df = pd.read_csv("./Data/" + year_form + div_form + os.listdir("./Data/" + year_form + div_form)[stat])
        
    return res_df.dropna(axis = 1, how = "all")

In [11]:
divs = ["CBLOL", "LCK", "LCL", "LCO", "LCS", "LEC", "LJL", "LLA", "LPL", "MSI", "PCS", "TCL", "VCS"]
"""
wr_df = pd.DataFrame(columns = ["Team", "Wins", "Losses", "Win Rate%"])
df = get_dat(year, "CBLOL", 2)
df = df[["Team", "W", "L"]]
df.assign(
    win_rate = round((df["W"] / (df["W"] + df["L"])) * 100, 2)
).assign(
    year = year
)
"""

res_df = pd.DataFrame()

for year in os.listdir("./Data"):
    for div in divs:
        if get_dat(year, div, 2).empty:
            continue
        else:
            df = get_dat(year, div, 2)
            #df = df[["Team", "W", "L"]]
            df = df.assign(
                win_rate = round((df["W"] / (df["W"] + df["L"])) * 100, 2)
            ).assign(
                year = year
            ).assign(
                division = div
            )
            
            res_df = pd.concat([df, res_df])
            
res_df = res_df.reset_index(drop = True)
res_df = res_df.sort_values(by = ["year", "Team"]).fillna(0)
del res_df['Player']
res_df

,Team,Pos,GP,W,L,CTR%,K,D,A,KDA,...,FT%,F3T%,HLD%,FD%,DRG%,ELD%,FBN%,BN%,LNE%,JNG%
465,7th heaven,0,13,7,6,0,239,235,0.0,0.0,...,0,0,0,0,56%,0,0,40%,0,0
435,ATLAS eSports Team,0,14,6,8,0,214,269,0.0,0.0,...,36%,29%,0,43%,26%,0,43%,53%,49.5%,44.6%
461,Bencheados,0,6,1,5,0,80,121,0.0,0.0,...,0,0,0,0,36%,0,0,0,0,0
436,Beşiktaş Esports,0,14,12,2,0,291,175,0.0,0.0,...,79%,86%,0,43%,62%,0,64%,88%,52.0%,50.6%
448,Beşiktaş Esports,0,5,0,5,0,27,110,0.0,0.0,...,0%,0%,0,20%,25%,0,0%,0%,45.7%,38.7%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Vorax Liberty,0,8,4,4,0,97,84,0.0,0.0,...,38%,50%,50%,0%,32%,0,50%,58%,49.8%,47.2%
82,paiN Gaming,0,6,2,4,0,68,114,0.0,0.0,...,50%,50%,50%,33%,46%,0,50%,57%,48.6%,50.2%
141,paiN Gaming,0,14,9,5,0,198,191,0.0,0.0,...,64%,71%,44%,71%,66%,0,57%,44%,51.0%,53.3%
30,İstanbul Wildcats,0,18,14,4,0,305,191,0.0,0.0,...,83%,83%,72%,44%,58%,60%,61%,73%,50.4%,55.0%
80,İstanbul Wildcats,0,6,1,5,0,91,130,0.0,0.0,...,17%,33%,33%,50%,32%,100%,17%,11%,50.5%,44.8%