In [1]:
import os
import pandas as pd

In [2]:
"""
pulls data from Data directories, turns the selected csv into a Pandas dataframe, and removes columns with NaNs (if present)

parameters:
    year -- year of data being pulled
    division -- division whose data is being pulled
    stat -- determines which of the three sheets in the directory will be pulled (0 = champion, 1 = player, 2 = team)
"""

#TODO: account for inconsistencies in division names

def get_dat(year, division, stat): 
    if len(os.listdir("./Data/" + str(year) + "/" + division)) == 0:
        return pd.DataFrame()
    
    year_form = str(year) + "/"
    div_form = division + "/"
    
    if(division == "MSI" and (int(year) >= 2017 and int(year) < 2021)):
        msi_div = "main-event/"
        res_df = pd.read_csv("./Data/" + year_form + div_form + msi_div + os.listdir("./Data/" + year_form + div_form + msi_div)[stat])
    else:
        res_df = pd.read_csv("./Data/" + year_form + div_form + os.listdir("./Data/" + year_form + div_form)[stat])
        
    return res_df.dropna(axis = 1, how = "all")

In [3]:
os.listdir("./Data/2021/MSI/main-event/")

FileNotFoundError: [WinError 3] The system cannot find the path specified: './Data/2021/MSI/main-event/'

In [5]:
teams = ["CBLOL", "LCK", "LCL", "LCO", "LCS", "LEC", "LJL", "LLA", "LPL", "MSI", "PCS", "TCL", "VCS"]
"""
wr_df = pd.DataFrame(columns = ["Team", "Wins", "Losses", "Win Rate%"])
df = get_dat(year, "CBLOL", 2)
df = df[["Team", "W", "L"]]
df.assign(
    win_rate = round((df["W"] / (df["W"] + df["L"])) * 100, 2)
).assign(
    year = year
)
"""

for year in os.listdir("./Data"):
    for team in teams:
        wr_df = pd.DataFrame(columns = ["Team", "Wins", "Losses", "Win Rate%"])
        if get_dat(year, team, 2).empty:
            continue
        else:
            df = get_dat(year, team, 2)
            df = df[["Team", "W", "L"]]
            df.assign(
                win_rate = round((df["W"] / (df["W"] + df["L"])) * 100, 2)
            ).assign(
                year = year
            )
            
df

2015
CBLOL
LCK
LCL
LCO
LCS
LEC
LJL
LLA
LPL
MSI
PCS
TCL
VCS
2016
CBLOL
LCK
LCL
LCO
LCS
LEC
LJL
LLA
LPL
MSI
PCS
TCL
VCS
2017
CBLOL
LCK
LCL
LCO
LCS
LEC
LJL
LLA
LPL
MSI
PCS
TCL
VCS
2018
CBLOL
LCK
LCL
LCO
LCS
LEC
LJL
LLA
LPL
MSI
PCS
TCL
VCS
2019
CBLOL
LCK
LCL
LCO
LCS
LEC
LJL
LLA
LPL
MSI
PCS
TCL
VCS
2021
CBLOL
LCK
LCL
LCO
LCS
LEC
LJL
LLA
LPL
MSI
PCS
TCL
VCS

                Team  W  L
0     Saigon Buffalo  4  4
1   CERBERUS Esports  6  3
2        Team Secret  5  3
3     Saigon Buffalo  4  4
4        GAM Esports  1  6
5        Team Secret  5  3
6        Team Secret  3  1
7        Team Secret  5  3
8   CERBERUS Esports  2  0
9     Saigon Buffalo  3  4
10    Saigon Buffalo  4  4
11  CERBERUS Esports  1  0
12       GAM Esports  1  6
13       GAM Esports  1  6
14       GAM Esports  1  6
15       Team Secret  2  2
16  CERBERUS Esports  6  3
17    Saigon Buffalo  1  0
18  CERBERUS Esports  5  3
19       Team Secret  5  3
20       GAM Esports  1  6
21    Saigon Buffalo  4  4
22  CERBERUS Esports  4  3
23  CERBERUS Esports  6  3